/codigos/CalcWEB/nbproject/private/
/codigos/CalcWEB/build/
/codigos/SistemaEstoque/nbproject/private/
/codigos/SistemaEstoque/build/
/codigos/Encapsulamento/nbproject/private/
/codigos/Encapsulamento/build/
/codigos/SistemaEstoque/dist/